# Editor configuration
/.vscode/

# Dependencies
/node_modules/

# Build output
/dist/

# Environment files

# files ending with .env
*.env 

# files named exactly .env
.env 

# files starting with .env and followed by any extension
.env.*